body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}
.container {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
input[type="number"] {
    width: 50%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}
button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}
#result {
    margin-top: 10px;
    font-weight: bold;
}
#badge-obesity {
    background-color: red;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 3px;
    display: none;
}